body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
.main {
   display: flex;
   flex-wrap: wrap;
   margin: 0 auto;
   align-items: center;
   justify-content: center;
 }
 .color-pad {
   width: 35vmin;
   height: 35vmin;
   border-radius: 7vmin;
   margin: 2vmin;
 }
 button {
   background: #bdbdbd;
   border: none;
   border-radius: 5px;
   color: #fff;
   font-family: 'Roboto', sans-serif;
   font-size: 1.3rem;
   padding: 8px 15px;
 }
 button:hover {
   background: #9e9e9e;
 }
 button:active {
   background: #616161;
 }
 /* ====================== Media Queries ====================== */
 @media screen and (min-width: 430px) {
   .main {
     width: 430px;
   }
   .color-pad {
     width: 150px;
     height: 150px;
     border-radius: 30px;
     margin: 8px;
 }
 /* so the pads fit on phone landscape mode as well */
 @media screen and (max-height: 430px) {
   .main {
     width: 400px;
   }
   .color-pad {
     width: 130px;
     height: 130px;
     border-radius: 30px;
     margin: 5px;
 }
